.about-me{
	//@media #{$s}{margin : 8%;  } 
	position: relative; 
	h2{
		padding: 5% 0; 
	}
	@media#{$s}{
		h2{
			text-align: center;
			
		}
	}
	@media #{$m}{
		height: 92vh;
	}
	.container{
		height: auto;
		div{
			font-size: 3vh;
			@media #{$s}{
				line-height: 1.4;
				background-color: rgba(219, 219, 219, 0.82);
				z-index: 1;
				position: absolute;
				height: 60%;
				width: 100%;
				padding:0 3% 0 10%;
				margin: auto;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;	
			}
			@media #{$m}{
				border-radius: 5px;
				width: 60vw;
				padding:0 5%;
			}
			
			
		}
		}
	
	
	
	
	
	
	.background-image{
		background-image: url("img/tech.jpg");
		width: 100%; 
		z-index: 0;
		margin-top: 5%;
		height: 30%;
		background-position: center; 
		background-size: cover ;  
		background-repeat: no-repeat; 
		@media #{$s}{
			width: 100vw;
			height: 80vh;
			margin: auto;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		@media #{$m}{
			width: 80vw;
		}
		}
	} 