.contact{
	height: 100vh;
	h2{
		padding: 3% 0 0;
		@media #{$xl}{
			font-size: 2.1rem;
		}
	}
	p,a{
		text-align: center;
		padding: 20% 0;
		text-decoration: none;
		color: $dark-color;
		display: block;
		span{
			text-align: center;
			display: block;
		}
		i{
			font-size:  4rem;
		}
		@media #{$s}{
			padding: 5% 0;
			font-size: 1.8rem;
		}
		@media #{$xl}{
			padding: 5% 0;
			
			font-size: 3rem;
			i{
				font-size: 8rem;
			}
		}
	}
}
.fa-envelope{transform: translateX(5px);} 