.contact{
	@media #{$m}{
		height: 92vh;
	}
	@media #{$xl}{
		font-size: 3rem
	}
	display: grid;
	height: 100vh;
	background-image: url("img/grid.jpg");
	background-size: cover;
	background-position: right;
	text-transform: uppercase;
	grid-template-rows: 15% 1fr 1fr 1fr;
	p,a{
		text-align: center;
		text-decoration: none;
		color: $dark-color;
		font-size: 1rem;
		@media#{$m}{
		font-size: 2rem;
			
		}
		@media#{$xl}{
			font-size: 3rem;
		}
		span{
			text-align: center;
			display: block;
		}
		i{
			font-size: 10vh;
		}
		
		
	}
	a{
		i{
			&:hover{
				color: $accent-color;
			}
		}
	}
}