header{
	//background-color: $light-color;
	width: 8vw;
	height: 100vh;
	position: fixed;
	padding-bottom: 0;
	display: flex;
	justify-content: center;
	z-index: 9999;
}
.menu{
	bottom: 0;
	position: absolute;
	a{	
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0;
		i{
			color: black; 
			font-size: 1.2rem;  
			display: block;
			margin: 30% auto;
			text-align: center;
			text-shadow: 0 0 1px $white-color;
			@media #{$s}{
			 
				font-size: 2rem;
				margin: 40%  auto;   
			};
		} 
		
		}
	.active{
			color: $accent-color;
			text-shadow: 0 0 2px $dark-color;
			i{
				color: $accent-color;
				text-shadow: 0 0 2px $dark-color;
			}
			}
	} 


//min 900px
header{
	@media #{$m}{
		width: 100vw;
		height: auto;
	}
}
.menu{
	@media #{$m}{
		bottom: auto;
		top: 0;
		width: 100vw;
		display: flex;
		text-align: center;
		padding: 1% 0;
		a{
			font-size: 1.2rem;
			color: $light-color;
			margin:0 auto;
			i{
				display: inline-block;
				margin: 0 0.2%;
				font-size: 1.2rem;
				color: $light-color;
			}
		}
	}
	@media #{$xl}{
		a{
			font-size: 2.5rem;
			i{
				font-size: 2.5rem;
			}
		}
	}
	@media #{$ln}{
		a{
			i{
			font-size: 1.1rem;
			}
		}
	}
}
.navi-background{
	background: #d1d1d1;
background: -moz-linear-gradient(top, #d1d1d1 0%, #e2e2e2 0%, #dbdbdb 2%, #6c7788 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #d1d1d1), color-stop(0%, #e2e2e2), color-stop(2%, #dbdbdb), color-stop(100%, #6c7788));
background: -webkit-linear-gradient(top, #d1d1d1 0%, #e2e2e2 0%, #dbdbdb 2%, #6c7788 100%);
background: -o-linear-gradient(top, #d1d1d1 0%, #e2e2e2 0%, #dbdbdb 2%, #6c7788 100%);
background: -ms-linear-gradient(top, #d1d1d1 0%, #e2e2e2 0%, #dbdbdb 2%, #6c7788 100%);
background: linear-gradient(to bottom, #d1d1d1 0%, #e2e2e2 0%, #dbdbdb 2%, #6c7788 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#6c7788', GradientType=0 );
}