header{
	//background-color: $light-color;
	width: 8vw;
	height: 100vh;
	position: fixed;
	padding-bottom: 0;
	display: flex;
	justify-content: center;
	z-index: 9999;
}
.menu{
	bottom: 0;
	position: absolute;
	a{	
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0;
		i{
			color: black; 
			font-size: 1.2rem;  
			display: block;
			margin: 30% auto;
			text-align: center;
			text-shadow: 0 0 1px $white-color;
			@media #{$s}{
			 
				font-size: 2rem;
				margin: 40%  auto;   
			};
			@media #{$l}{
				font-size: 2.8rem; 
				text-shadow: 0 0 0 ;  
			};
			@media #{$xl}{ 
				font-size: 4rem;
				text-shadow: 0 0 0 ;  
				margin: 70%  auto;  
			};
		} 
		.active{
			color: $accent-color;
			text-shadow: 0 0 2px $dark-color;
			}
		}
	} 
