.card{
	width: 70vw;
	height: 70vw;
	max-height: 40%;
	border: 1px solid black;
	margin-top: 10%;
	margin-left: 5%;
	border-radius: 5%;
	.side-img{
		width: 80%;
		margin: 10%;
		height: 80%;
		border: 1px solid black;
		img{
			display: block;
			margin: 10%;
			width: 80%;
			
	}
	}
	
}