
.projects{
	
	height: 100vh;
	@media #{$m}{
	display: grid;
	grid-template-rows: 10% 90%;
		height: 92vh;
	}
	@media #{$ln}{
		display: grid;
		grid-template-rows: 10% 90%;
	}
	@media #{$xl}{
		font-size: 3rem
	}
}
.cards{
	display: grid;
	height: 90%;
	@media #{$s}{
		height: auto;
	}
	@media #{$m}{
		grid-template-columns: 30% 30% 30%;
		grid-column-gap: 5%;
		margin:auto;
	}
	@media #{$ln}{
		grid-template-columns: 30% 30% 30%;
		grid-column-gap: 5%;
		margin:auto;
	}
}
.card {
	position: relative;
	margin: 1vh auto 1vh;
	overflow: hidden;
	width: 80%;
	height: 24vh;
	max-width: 30vh;
	box-shadow: 1px 1px 1px black;
	img{
		width: 100%;
	}
	.icons {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	a {
		margin: 2vw;
		opacity: 0;
		transform: scale(0.8);
		text-decoration: none;
		@media #{$m}{
			transform: scale(1);
		}
		@media #{$l}{
			transform: scale(1.2);
			margin: 2.2vw;
		}
		@media #{$xl}{
			transform: scale(2.5);
			margin: 3vw;
		}
		i {
			display: block;
			font-size: 23.52941176px;
			line-height: 40px;
			width: 40px;
			background-color: #e5e5e5;
			text-align: center;
			color: $accent-color;
		}	
	}
	@media #{$m}{
		width: 100%;
		height: 100%;
		max-width: none;
	}
	@media #{$ln}{
		width: 100%;
		height: 100%;
		max-width: none;
	}
	
}
.card *,
.card *:before,
.card *:after {
  transition: all 0.35s ease;
}
.card:before {
  position: absolute;
  top: 3%;
  bottom: 3%;
  left: 3%;
  right: 3%;
  content: '';
  background-color: #ffffff;
  opacity: 0;
  transition: all 0.35s ease;
}


.card a i:hover {
  background-color: $accent-color;
  color: #e5e5e5;
  cursor: pointer;
}
.card:hover:before,
.card.hover:before {
  opacity: 0.5;
}
.card:hover a,
.card.hover a {
  opacity: 1;
  transform: scale(1);
}
.card:hover a:nth-child(2),
.card.hover a:nth-child(2) {
  transition-delay: 0.15s;
}
.card:hover a:nth-child(3),
.card.hover a:nth-child(3) {
  transition-delay: 0.3s;
}

