.projects{
	height: 100vh;
	a{
		text-decoration: none;
		color: black;
		font-style: italic;
		text-align: right;   
		padding-top: 3%;
		display: block; 
	}
}
.card{ 
	width: 70vw; 
	height: 70vw;
	max-height: 40%;
	border: 1px solid black;
	margin-top: 10%;
	margin-left: 5%;
	border-radius: 5%;
	.side-img{
		width: 80%;
		margin: 10%;
		height: 80%;
		border: 1px solid black;
		overflow: hidden; 
		img{
			display: block;
			margin: 10%;
			width: 80%;
			
			
	}
	}
	
}