.my-skills{
	h2{
		padding: 2% 0 0 0;
		@media #{$xl}{
		font-size: 3rem
	}
	}
	height: 100vh; 
	background-image: url("img/puzzle.jpg");
	background-position: center;
	background-size: cover;
	display: grid;
	@media #{$xl}{
		font-size: 2rem;
		}
	.box{
		text-align: center;
		
		p{
			text-transform: uppercase;
		}
		.stars{
			border-bottom: 1px solid black;
			padding: 2% 0;
			@media #{$s}{
				border-bottom: none;
			}
			.fas{
    			text-shadow: 1px 1px 3px black;	
				color: gold;
			}
			.far{
				color: $darken-main-color;
			}
		}

	}
	.italic{
		text-align: right;
	}
	@media #{$ln}{
		grid-template-columns: 49% 49%;
		 grid-column-gap: 2%;
		h2{
			grid-row: 1;
			grid-column: 1/ span 2;
		}
		.italic{
			grid-column: 2;
		}
	}
	}