$s: "only screen and (min-width: 600px)";
$m: "only screen and (min-width: 900px)";
$l: "only screen and (min-width: 1200px)";
$xl: "only screen and (min-width: 1800px)";

$accent-color: #e76710;
$darken-main-color: #6c7788;
$light-color: #efeee6;
$white-color: #fcfdff;

$lato: 'Lato', sans-serif;


