/*----------------------------------
-------------Variables--------------
------------------------------------*/
/*----------------------------------
------------Global--------------
------------------------------------*/
html {
  font-size: 20px; }

body {
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box; }

section {
  width: 100vw;
  height: 100vh; }
  section h2 {
    padding: 5% 0;
    font-weight: 700; }

.container {
  padding: 1% 10%; }

.italic {
  font-style: italic; }

.darken-bg {
  background-color: #efeee6; }

.hidden {
  opacity: 0; }

.visible {
  opacity: 1; }

/*----------------------------------
--------------Header----------------
------------------------------------*/
header {
  width: 8vw;
  height: 100vh;
  position: fixed;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 9999; }

.menu {
  bottom: 0;
  position: absolute; }
  .menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0; }
    .menu a i {
      color: black;
      font-size: 1.2rem;
      display: block;
      margin: 30% auto;
      text-align: center;
      text-shadow: 0 0 1px #fcfdff; }
      @media only screen and (min-width: 500px) {
        .menu a i {
          font-size: 2rem;
          margin: 40%  auto; } }
  .menu .active {
    color: #e76710;
    text-shadow: 0 0 2px #515154; }
    .menu .active i {
      color: #e76710;
      text-shadow: 0 0 2px #515154; }

@media only screen and (min-width: 900px) {
  header {
    width: 100vw;
    height: auto; } }

@media only screen and (min-width: 900px) {
  .menu {
    bottom: auto;
    top: 0;
    width: 100vw;
    display: flex;
    text-align: center;
    padding: 0.3% 0; }
    .menu a {
      font-size: 1.2rem;
      color: #efeee6;
      margin: 0 auto; }
      .menu a i {
        display: inline-block;
        margin: 0 0.2%;
        font-size: 1.2rem;
        color: #efeee6; } }
@media only screen and (min-width: 1800px) {
  .menu a {
    font-size: 2.5rem; }
    .menu a i {
      font-size: 2.5rem; } }
@media only screen and (max-width: 900px) and (orientation: landscape) {
  .menu a i {
    font-size: 1.1rem; } }

.navi-background {
  background: #d1d1d1;
  background: -moz-linear-gradient(top, #d1d1d1 0%, #e2e2e2 0%, #dbdbdb 2%, #6c7788 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #d1d1d1), color-stop(0%, #e2e2e2), color-stop(2%, #dbdbdb), color-stop(100%, #6c7788));
  background: -webkit-linear-gradient(top, #d1d1d1 0%, #e2e2e2 0%, #dbdbdb 2%, #6c7788 100%);
  background: -o-linear-gradient(top, #d1d1d1 0%, #e2e2e2 0%, #dbdbdb 2%, #6c7788 100%);
  background: -ms-linear-gradient(top, #d1d1d1 0%, #e2e2e2 0%, #dbdbdb 2%, #6c7788 100%);
  background: linear-gradient(to bottom, #d1d1d1 0%, #e2e2e2 0%, #dbdbdb 2%, #6c7788 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#6c7788', GradientType=0 ); }

/*----------------------------------
------------Front-section--------------
------------------------------------*/
.front-section {
  background-image: url("img/rain.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center; }
  .front-section h1 {
    text-align: center;
    color: #e76710;
    margin: 0 auto;
    text-shadow: 1px 2px 1px black; }
    @media only screen and (min-width: 900px) {
      .front-section h1 {
        font-size: 2rem; } }
    @media only screen and (min-width: 1200px) {
      .front-section h1 {
        font-size: 3rem;
        text-shadow: 1px 1px 3px black; } }
    @media only screen and (min-width: 1800px) {
      .front-section h1 {
        font-size: 4rem; } }
    .front-section h1 span {
      color: #efeee6;
      text-align: center;
      display: block; }

/*----------------------------------
------------About-me--------------
------------------------------------*/
.about-me {
  position: relative; }
  .about-me .container {
    height: 65%; }
    .about-me .container div {
      font-size: 3vh; }
      @media only screen and (min-width: 500px) {
        .about-me .container div {
          background-color: rgba(239, 238, 230, 0.92);
          border-radius: 3%;
          padding: 1% 10% 5%;
          margin: 30% auto; }
          .about-me .container div h2 {
            text-align: center; } }
      @media only screen and (min-width: 1200px) {
        .about-me .container div {
          width: 70%;
          margin: 13% auto;
          font-size: 1.3rem; } }
      @media only screen and (min-width: 1800px) {
        .about-me .container div {
          width: 70%;
          margin: 20% auto;
          font-size: 2.1rem; } }
      @media only screen and (max-width: 900px) and (orientation: landscape) {
        .about-me .container div {
          background-color: rgba(239, 238, 230, 0.92);
          border-radius: 3%;
          padding: 1% 6% 3%;
          margin: 6% auto; }
          .about-me .container div p {
            font-size: 0.8rem; } }
  .about-me .background-image {
    background-image: url("img/laptop.jpg");
    width: 100%;
    margin-top: 5%;
    height: 30%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    @media only screen and (min-width: 500px) {
      .about-me .background-image {
        height: 84%;
        width: 84%;
        position: absolute;
        top: 8%;
        left: 8%;
        z-index: -1;
        margin: auto; } }
    @media only screen and (max-width: 900px) and (orientation: landscape) {
      .about-me .background-image {
        height: 84%;
        width: 84%;
        position: absolute;
        top: 8%;
        left: 8%;
        z-index: -1;
        margin: auto; } }

/*.photo{
		width: 100%;
		position: absolute;
		bottom: 0;
	}*/
/*----------------------------------
-------------my-skills----------------
------------------------------------*/
.my-skills {
  height: 100vh; }
  .my-skills .box {
    padding: 1% 0; }
    .my-skills .box p {
      font-size: 2.5vh;
      text-transform: uppercase;
      padding: 2% 0; }
    .my-skills .box .stars {
      border-bottom: 1px solid black;
      padding: 0 0 4%; }
      .my-skills .box .stars .fas {
        text-shadow: 1px 1px 3px black;
        color: gold; }
      .my-skills .box .stars .far {
        color: #6c7788; }
  .my-skills .italic {
    padding-top: 3%; }

@media only screen and (min-width: 500px) {
  .my-skills .box {
    padding: 0; }
    .my-skills .box h2 {
      padding: 0 2%; }
    .my-skills .box p {
      font-size: 1rem; }
    .my-skills .box .stars {
      padding: 0 0 2%; } }
@media only screen and (min-width: 900px) {
  .my-skills {
    text-align: center; }
    .my-skills h2 {
      padding: 2% 0; }
    .my-skills .box p {
      padding: 1% 0; }
    .my-skills .box .stars {
      border-bottom: none; } }
@media only screen and (min-width: 1200px) {
  .my-skills h2 {
    padding: 1% 0; }
  .my-skills .box {
    padding: 0; }
    .my-skills .box p {
      padding: 1% 0; } }
@media only screen and (min-width: 1800px) {
  .my-skills {
    font-size: 2.1rem; } }
@media only screen and (max-width: 900px) and (orientation: landscape) {
  .my-skills {
    font-size: 1rem; }
    .my-skills .box {
      width: 40%;
      float: left;
      margin: 1%; } }

/*----------------------------------
-------------Project----------------
------------------------------------*/
.projects {
  height: 100vh; }
  @media only screen and (min-width: 1800px) {
    .projects {
      font-size: 2.1rem; } }
  .projects a {
    text-decoration: none;
    color: black;
    font-style: italic;
    text-align: right;
    padding-top: 3%;
    display: block; }

.card {
  width: 60vw;
  margin: 3% auto;
  height: 60vw;
  max-height: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
  .card .card-text {
    text-align: center; }
  .card .side-img {
    width: 80%;
    height: 70%;
    overflow: hidden; }
    .card .side-img img {
      width: 80%; }
  @media only screen and (min-width: 500px) {
    .card {
      width: 35vh;
      height: 35vh; } }

@media only screen and (min-width: 700px) {
  .cards {
    display: flex;
    align-content: center;
    justify-content: center; }
    .cards .card {
      margin-top: 5%; } }
@media only screen and (max-width: 900px) and (orientation: landscape) {
  .cards {
    display: flex;
    align-content: center;
    justify-content: center; }
    .cards .card {
      margin-top: 5%;
      font-size: 0.8rem; } }

/*----------------------------------
-------------Contact----------------
------------------------------------*/
.contact {
  height: 100vh; }
  @media only screen and (min-width: 500px) and (orientation: landscape) {
    .contact {
      padding: 1% 10%; } }
  .contact h2 {
    padding: 3% 0 0; }
    @media only screen and (min-width: 1800px) {
      .contact h2 {
        font-size: 2.1rem; } }
  .contact p, .contact a {
    text-align: center;
    padding: 15% 0;
    text-decoration: none;
    color: #515154;
    display: block; }
    .contact p span, .contact a span {
      text-align: center;
      display: block; }
    .contact p i, .contact a i {
      font-size: 4rem; }
    @media only screen and (min-width: 500px) {
      .contact p, .contact a {
        font-size: 1.8rem; } }
    @media only screen and (min-width: 900px) {
      .contact p, .contact a {
        padding: 4% 0; } }
    @media only screen and (min-width: 1800px) {
      .contact p, .contact a {
        padding: 5% 0;
        font-size: 3rem; }
        .contact p i, .contact a i {
          font-size: 8rem; } }
  @media only screen and (max-width: 900px) and (orientation: landscape) {
    .contact a, .contact p {
      text-align: left;
      padding: 1%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .contact a i, .contact p i {
        font-size: 3rem; }
      .contact a span, .contact p span {
        text-align: right;
        display: inline;
        padding-left: 5%; } }
@media only screen and (max-width: 900px) and (orientation: landscape) and (min-width: 500px) {
  .contact {
    padding: 7% 10%; } }
@media only screen and (max-width: 900px) and (orientation: landscape) and (min-width: 900px) {
  .contact {
    padding: 4% 0; } }
@media only screen and (max-width: 900px) and (orientation: landscape) and (min-width: 1800px) {
  .contact {
    padding: 1% 0;
    font-size: 3rem; }
    .contact i {
      font-size: 8rem; } }

.fa-envelope {
  transform: translateX(5px); }

/*----------------------------------
--------------Footer----------------
------------------------------------*/
footer {
  background-color: #6c7788;
  text-transform: uppercase;
  font-style: italic;
  font-size: 0.8rem; }
  footer p {
    padding: 3% 10%; }
  @media only screen and (min-width: 500px) {
    footer {
      font-size: 1.2rem; }
      footer p {
        padding: 1% 3%; } }
  @media only screen and (min-width: 1200px) {
    footer {
      font-size: 1.5rem; }
      footer p {
        padding: 1% 5%; } }
  @media only screen and (min-width: 1800px) {
    footer {
      font-size: 2rem; } }

/*# sourceMappingURL=style.css.map */
