/*----------------------------------
-------------Variables--------------
------------------------------------*/
/*----------------------------------
------------Global--------------
------------------------------------*/
html {
  font-size: 20px; }

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box; }

section {
  width: 100vw;
  height: 100vh; }
  section h2 {
    padding: 5% 0;
    font-weight: 700; }

.container {
  padding: 1% 10%; }

.italic {
  font-style: italic; }

/*----------------------------------
--------------Header----------------
------------------------------------*/
header {
  width: 8vw;
  height: 100vh;
  position: fixed;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 9999; }

.menu {
  bottom: 0;
  position: absolute; }
  .menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0; }
    .menu a i {
      color: black;
      line-height: 1.1rem;
      font-size: 1rem;
      display: block;
      margin: 30% auto;
      text-align: center; }
    .menu a .active {
      color: #e76710; }

/*----------------------------------
------------Front-section--------------
------------------------------------*/
.front-section {
  background-image: url("img/rain.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center; }
  .front-section h1 {
    text-align: center;
    color: #e76710;
    margin: 0 auto;
    text-shadow: 1px 2px 1px black; }
    .front-section h1 span {
      color: #efeee6;
      text-align: center;
      display: block; }

/*----------------------------------
------------About-me--------------
------------------------------------*/
.about-me {
  position: relative; }
  .about-me .container {
    height: 70%; }
    .about-me .container img {
      width: 30%;
      float: right;
      padding: 4%; }

.photo {
  width: 100%;
  position: absolute;
  bottom: 0; }

/*----------------------------------
-------------my-skills----------------
------------------------------------*/
.my-skills .box {
  padding: 2% 0; }
  .my-skills .box p {
    text-transform: uppercase;
    padding: 2% 0; }

/*----------------------------------
-------------Project----------------
------------------------------------*/
.card {
  width: 70vw;
  height: 70vw;
  max-height: 40%;
  border: 1px solid black;
  margin-top: 10%;
  margin-left: 5%;
  border-radius: 5%; }
  .card .side-img {
    width: 80%;
    margin: 10%;
    height: 80%;
    border: 1px solid black; }
    .card .side-img img {
      display: block;
      margin: 10%;
      width: 80%; }

/*----------------------------------
-------------Contact----------------
------------------------------------*/
.contact p, .contact a {
  text-align: center;
  margin-top: 30%;
  text-decoration: none;
  color: black;
  display: block; }
  .contact p span, .contact a span {
    text-align: center; }
  .contact p i, .contact a i {
    font-size: 80px; }

/*----------------------------------
--------------Footer----------------
------------------------------------*/

/*# sourceMappingURL=style.css.map */
